= simple_form_for(@post) do |f|
  = f.input :title,
      hint: '5–255 символов',
      input_html: { class: 'form-control' },
      required: true

  = f.association :category,
      input_html: { class: 'form-control' },
      required: true

  = f.input :body,
      hint: 'От 200 до 4000 символов',
      as: :text,
      input_html: { class: 'form-control', rows: 6 },
      required: true

  = f.submit 'Опубликовать', class: 'btn btn-primary'
