= simple_form_for(post) do |f|
  = f.input :title,
      hint: t('.title_hint'),
      input_html: { class: 'form-control' },
      required: true

  = f.association :category,
      input_html: { class: 'form-control' },
      required: true

  = f.input :body,
      hint: t('.body_hint'),
      as: :text,
      input_html: { class: 'form-control', rows: 6 },
      required: true

  = f.submit t('.submit'), class: 'btn btn-primary'
